<nz-table [nzBordered]="true" [nzData]="hourKeyIndexes" [nzShowPagination]="false" [nzScroll]="{ y: '75vh' }">
  <thead>
    <tr>
      <th>Hora</th>
      <th>Lunes</th>
      <th>Martes</th>
      <th>Miércoles</th>
      <th>Jueves</th>
      <th>Viernes</th>
      <th>Sábado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hour of getHours()">
      <td>
        {{hour}}
      </td>
      <ng-container *ngFor="let day of hourKeyIndexes">
        <td>
          <ng-container *ngIf="day[hour] as event;">
            <ng-container *ngIf="event.isModule; else course">
              <small style="cursor: pointer;" nz-popover
                [nzPopoverTitle]="'Modulo ' + event.mod_name + ' - ' + event.course21_name"
                [nzPopoverContent]="popoverContent"
                nzPopoverTrigger="hover"><a>Modulo {{event.mod_name + ' - ' + event.course21_key + ' - Grupo ' + event.group21_number}}</a></small>
                <ng-template #popoverContent>
                  <small>
                    Grupo {{event.group21_number}}
                  </small>
                  <br>
                  <small>
                    Semana Inicial {{event.course21_initialWeek}}
                  </small>
                  <br>
                  <small>
                    Semana Final {{event.course21_initialWeek + event.course21_weeks - 1}}
                  </small>
                  <br>
                  <small>
                    Duración {{event.course21_weeks}}
                  </small>
                  <br>
                  <small>
                    {{event.course21_startTimeString}} - {{event.course21_endTimeString}}
                  </small>
                  <br>
                </ng-template>
              </ng-container>
            <ng-template #course>
              <small style="cursor: pointer;" nz-popover
                [nzPopoverTitle]="event.course20_key + ' - ' + event.course20_name"
                [nzPopoverContent]="popoverContent"
                nzPopoverTrigger="hover"><a>{{event.course20_key + ' - Grupo ' + event.group20_number}}</a></small>
              <ng-template #popoverContent>
                <small>
                  Grupo {{event.group20_number}}
                </small>
                <br>
                <small>
                  {{event.event20_startTimeString}} - {{event.event20_endTimeString}}
                </small>
                <br>
                <small>
                  Semana Inicial: {{event.course20_initialWeek}}
                </small>
                <br>
                <small>
                  Semana Final: {{event.course20_initialWeek + event.course20_weeks - 1}}
                </small>
                <br>
                <small>
                  Duración: {{event.course20_weeks}} semanas
                </small>
                <br>
              </ng-template>
            </ng-template>
          </ng-container>
        </td>
      </ng-container>
    </tr>
  </tbody>
</nz-table>
