<nz-page-header (nzBack)="onBack()" nzBackIcon [nzTitle]="'Profe '"
  style="padding-left: 0; padding-top: 0;">
</nz-page-header>
<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="6">
    <div nz-row [nzGutter]="[16, 16]">
      <div nz-col [nzSpan]="24">
        <h3>
          Periodo
        </h3>
        <nz-select [(ngModel)]="period" (ngModelChange)="changePeriod($event)" nzPlaceHolder="Select Period" style="width: 100%;">
          <nz-option *ngFor="let p of periods" [nzValue]="p.id" [nzLabel]="p.name"></nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="24">
        <h3>
          Semana
        </h3>
        <nz-select [(ngModel)]="week" style="width: 100%;">
          <nz-option *ngFor="let w of weeks" [nzValue]="w" [nzLabel]="w"></nz-option>
        </nz-select>
      </div>
    </div>
  </div>
  <div nz-col [nzSpan]="18">
    <siat-schedule-professor [events]="getFlattenedAssignedGroups()"  [week]="week"></siat-schedule-professor>
  </div>
</div>
